.dataTables_paginate.paging_simple_numbers {
  float: left;
}

.dataTables_filter {
  float: left;
}

.table-rowdetails-shadow {
  box-shadow: 0 10px 15px 1px rgba(0, 0, 0, 0.05);
}
.datatable-rowdetails {
  padding: 10px;
}

.rowDetails-caption {
  padding-right: 1rem;
}

.ItemDetailsTable th {
  color: #3f4254 !important;
  background-color: #f3f6f9 !important;
  border-color: #ebedf3 !important;
}

/* Sections */

.section-list-container .card .card-header {
  position: relative;
}

.section-list-container .card .card-header .card-title {
  position: relative;
}

.section-list-container > div .section-items > ul > li .edit-item-container,
.section-list-container .card .card-header .card-title .edit-item-container {
  position: absolute;
  top: 10px;
  left: -13px;
  z-index: 10;
}

.section-list-container > div .section-items > ul > li .edit-item-container a,
.section-list-container .card .card-header .card-title .edit-item-container a {
  background-color: #5faee8;
  padding: 2px 6px;
  display: block;
  border-radius: 50%;
  text-align: center;
}

.section-list-container .card .card-header .card-number {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -14px;
}
.section-list-container .card .card-header .card-number span {
  color: #fff;
  background-color: #5faee8;
}

.section-list-container {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
.section-list-container > div {
  margin-bottom: 15px;
}

.section-list-container > div .section {
  background: #edf0f9;
  padding: 10px;
  padding-right: 23px;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 0 30px 0 rgba(82, 63, 105, 0.05);
}
.section-list-container div:last-child {
  margin-bottom: 0px;
}
.section-list-container > div .section .subject-number {
  position: absolute;
  top: 9px;
  right: -14px;
}
.section-list-container > div .section .subject-content .subject-title {
  display: block;
  font-size: 16px;
}

.section-list-container > div .section .hidden {
  display: none;
}

.section-list-container > div .section .hiddenSection {
  display: none;
}

.section-list-container > div .section .subject-content .draft {
  display: block;
  color: #545454;
  position: relative;
}

.section-list-container
  > div
  .section
  .subject-content
  .subject-right-side.onlytitle {
  display: flex;
  height: 97px;
  align-items: center;
}
.section-list-container > div .section .subject-number.onlytitle {
  top: 50%;
  transform: translateY(-50%);
}

.section-list-container > div .section .subject-content .draft.disabled {
  display: none;
}

.section-list-container > div .section .subject-content .draft .draft-info {
  position: absolute;
  right: -36px;
  top: -4px;
}

.section-list-container > div .section .subject-content .subject-right-side {
  width: 70%;
  float: right;
}
.section-list-container > div .section .subject-content .subject-left-side {
  width: 30%;
  color: #3f4254;
  float: left;
}

.section-list-container
  > div
  .section
  .subject-content
  .subject-left-side
  .subject-date,
.section-list-container
  > div
  .section
  .subject-content
  .subject-left-side
  .ministry-name {
  display: block;
}
.section-list-container > div .section .subject-content .subject-title a {
  color: #164460;
}

.section-list-container .mobile-only {
  display: none;
}

.section-list-container > div .section .subject-number > span {
  color: #fff;
  background-color: #5faee8;
}

.section-list-container > div .section-items > ul {
  margin-top: 10px;
  padding-right: 35px;
  position: relative;
}

.section-list-container > div .section-items > ul > li:before {
  content: "";
  position: absolute;
  right: -24px;
  top: -10px;
  width: 1px;
  background: #d2d2d2;
  height: calc(100% + 15px);
}

.section-list-container > div .section-items > ul > li:first-child:before {
  top: -23px;
  height: calc(100% + 28px);
}

.section-list-container > div .section-items > ul > li:last-child:before {
  background: #d2d2d2;
  height: 33px;
}

.section-list-container > div .section-items > ul > li:only-child:before {
  top: -23px;
  height: 45px;
}

.section-list-container > div .section-items > ul > li {
  position: relative;
}

.section-list-container > div .section-items > ul > li:after {
  content: "";
  position: absolute;
  right: -24px;
  top: 22px;
  width: 24px;
  height: 1px;
  background: #d2d2d2;
}

.section-list-container > div .section-items .blankData {
  width: 100%;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* End of Sections CSS*/

/* Start of Sections Toc Manage CSS*/

ul {
  list-style-type: none;
  padding: 0px;
}

.section-manage-container {
  background-color: #f3f6f9;
  border-radius: 5px;
}
.section-manage-item {
  background: #fff;
  border-radius: 0.42rem;
  box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.05);
}

.ItemSectionId.collapsed .opened {
  display: none;
}

.ItemSectionId .closed {
  display: none;
}
.ItemSectionId.collapsed .closed {
  display: inline-block;
}
.card .draft {
  display: none;
  font-size: 1rem;
  color: #545454;
}

.card.draft-shown .draft {
  display: block;
  font-size: 1rem;
  color: #545454;
}

/* .card.draft-shown .card-header .card-number {
  top: 35px;
} */
/* End of Sections Toc Manage CSS*/

.subject-container {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.subject-container > li {
  background: #edf0f9;
  padding: 10px;
  padding-right: 23px;
  position: relative;
  margin-bottom: 15px;
  border-radius: 5px;
  box-shadow: 0 0 30px 0 rgba(82, 63, 105, 0.05);
}
.subject-container li:last-child {
  margin-bottom: 0px;
}
.subject-container > li .subject-number {
  position: absolute;
  top: 9px;
  z-index: 2;
  right: -14px;
}
.subject-container > li .subject-content .subject-title {
  display: block;
  font-size: 16px;
}

.subject-container > li.hidden {
  display: none;
}

.subject-container > li.hiddenSection {
  display: none;
}

.subject-container > li .subject-content .draft {
  display: block;
  color: #545454;
  position: relative;
}

.subject-container > li .subject-content .subject-right-side.onlytitle {
  display: flex;
  height: 97px;
  align-items: center;
}
.subject-container > li .subject-number.onlytitle {
  top: 50%;
  transform: translateY(-50%);
}

.subject-container > li .subject-content .draft.disabled {
  display: none;
}

.subject-container > li .subject-content .draft .draft-info {
  position: absolute;
  right: -36px;
  top: -4px;
}

.subject-container > li .subject-content .subject-right-side {
  width: 70%;
  float: right;
}
.subject-container > li .subject-content .subject-left-side {
  width: 30%;
  color: #3f4254;
  float: left;
}

.subject-container > li .subject-content .subject-left-side .subject-date,
.subject-container > li .subject-content .subject-left-side .ministry-name {
  display: block;
}
.subject-container > li .subject-content .subject-title a {
  color: #164460;
}

.subject-container .mobile-only {
  display: none;
}

.subject-container > li .subject-number > span {
  color: #fff;
  background-color: #5faee8;
}

@media (max-width: 999px) {
  .text-right {
    text-align: right !important;
  }
}

@media (max-width: 670px) {
  .subject-container > li .subject-content .subject-right-side.onlytitle {
    display: block;
    height: auto;
  }
  .titleHasSpans > span {
    display: inline-block;
    margin-top: 8px;
  }
  .subject-container > li .subject-content .subject-right-side,
  .subject-container > li .subject-content .subject-left-side {
    float: none;
    width: 100%;
  }
  .subject-container > li .subject-content .subject-left-side {
    display: none;
  }

  .subject-container .mobile-only {
    display: block;
  }
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix {
  display: inline-block;
}
/* start commented backslash hack \*/
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}

.topbar-mobile-on .topbar {
  z-index: 96 !important;
}
td.dataTables_empty {
  text-align: center;
}
.done {
  color: #016905;
  font-size: smaller;
  margin-right: 14px;
}
.notdone {
  color: red;
  font-size: smaller;
  margin-right: 14px;
}
.not_found_data {
  text-align: center;
  font-size: 20px;
  color: red;
  padding-top: 17px;
}
h4.modall_group_name_title {
  padding-bottom: 22px;
  color: #084a8c;
}

#show_get_post_data code {
  text-align: left;
  max-width: 100% !important;
  display: list-item;
  direction: ltr;
  overflow: auto;
}

span.number_of_unread {
  background: red;
  color: #fff;
  min-width: 25px;
  min-height: 25px;
  padding: 2px;
  display: block;
  border-radius: 50%;
  position: absolute;
  top: -6px;
  right: -6px;
}





.table_sticky table {
  position: relative;
  border-collapse: collapse; 
}
.table_sticky th, td {
  padding: 0.25rem;
}
.table_sticky th {
  position: sticky;
  top: 0; 